<launch>
    <!-- Lanzar Gazebo con un archivo de mundo específico -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find arrow_autonomous_navigation_puzzlebot)/worlds/ADJIC_map.world"/>
        <!-- Configura los parámetros de la simulación -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
</launch>
