<?xml version="1.0" ?>
<launch>
    <!-- Argumento para el archivo del mundo -->
    <arg name="world_file" default="$(find arrow_autonomous_navigation_puzzlebot)/worlds/ADJIC_map.world"/>

    <!-- Parametro para usar tiempo simulado -->
    <param name="use_sim_time" value="true"/>

    <!-- Nodo para iniciar Gazebo -->
    <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(arg world_file)" respawn="false" output="screen"/>

    <!-- Cargar el URDF en el servidor de parámetros -->
    <param name="robot_description" textfile="$(find arrow_autonomous_navigation_puzzlebot)/urdf/puzzlebot_jetson_ed_urdf.urdf"/>

    <!-- Ejecutar el robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Argumentos para definir las coordenadas y orientación iniciales del robot -->
    <arg name="x" default="1"/>
    <arg name="y" default="-1"/>
    <arg name="z" default="1"/>
    <arg name="yaw" default="0"/>

    <!-- Spawnea el robot en Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model my_robot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)"
          respawn="false" output="screen"/>

    <!-- Aquí puedes agregar más nodos o parámetros según sea necesario -->

</launch>
