<!-- Main launch file for simulation with 2D LiDAR -->
<launch>
    
    <!-- To use the same name as that of the 3D LiDAR -->
    <!-- Remap must be used here since it is position-dependent (scope affected), 
    this means that everything that is declared beneath it will consider 
    this new name, but everything above it won't 
    Reference: http://wiki.ros.org/roslaunch/XML/remap
    Point 4 - Important Notes-->


    <!-- Launching gazebo maze simulation -->
    <include file="$(find arrow_autonomusnavigation_puzzlebot)/launch/include/gazebo_launch.launch"/>

        <!-- Load the URDF into the parameter server -->
    <param name="robot_description" textfile="$(find puzzlebot_sim)/urdf/puzzlebot_jetson_ed_urdf.urdf" />


    <!-- Run the robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


    <!-- Launch the joint state publisher -->
    <node pkg="puzzlebot_sim" type="Joint_State_Publisher.py" name="Joint_State_Publisher" /> 
    
    <include file="$(find ros_stack_sim_jackal)/launch/include/rviz/rviz_launch_2d.launch"/>


</launch>