<launch>

        <!-- Load the URDF into the parameter server -->
    <param name="robot_description" textfile="$(find puzzlebot_sim)/urdf/puzzlebot_jetson_ed_urdf.urdf" />

    <!-- Launch the joint state publisher GUI -->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>

    <!-- Launch the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="50.0"/>
    </node>

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_sim)/config/puzzlebot_rviz_config.rviz" required="true"/>


        <!-- Launch Gazebo with the robot loaded -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model puzzlebot"/>

    <!-- Controller Setup -->
    <rosparam file="$(find puzzlebot_sim)/config/control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller diff_drive_controller"/>

</launch>
