<launch>

        <!-- Load the URDF into the parameter server -->
    <param name="robot_description" textfile="$(find puzzlebot_sim)/urdf/puzzlebot_jetson_ed_urdf.urdf" />

    <!-- Launch the joint state publisher GUI -->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    </node>

    <!-- Launch the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="50.0"/>
    </node>

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puzzlebot_sim)/config/puzzlebot_rviz_config.rviz" required="true"/>
</launch>


